//colors
$c-v-light: #ddd;
$c-light: white;
$c-disabled: rgb(245, 245, 245);
$c-urgent: red;
$c-hold: rgb(255, 196, 0);
$c-completed: green;
$c-selected: purple;
$c-regular: #333;
$c-off: grey;
$c-stand-off: hotpink;

// border radius
$radius-s: 0.3rem;
$radius-m: 0.5rem;
$radius-l: 1rem;
